@font-face {
    font-family: calculadora;
    src: url(./leter/Calculator.ttf);
}
body{
    margin: 0;
    padding: 0;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    justify-items: center;

    background: white;
}

.calculadora{
width: 250px;
}
#pantalla{
height: 50px;
width: 100%;
border-style: ridge;
text-align: center;

justify-content: center;
align-items: center;
display: flex;

font-family: calculadora;
color: greenyellow;
font-size: 50px;
background: black;     
}
.botones{
    width: 100%;
    margin: auto;
    background: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tecla{
    height: 40PX;
    width: 100%;
    background: black;
    color: greenyellow;
    border-color:rebeccapurple;
    margin: auto;
    font-family: calculadora;
    font-size: 2rem;
}
.tecla:hover{
    background: #a945c7;
    border-color: greenyellow;
    color: aliceblue;
    box-shadow: 0 0 10px#a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7,;
}